name: CI

on:
  push: ~
  pull_request: ~
  workflow_dispatch: ~

jobs:
  conan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 5.78.0-rc1
          - 5.77.0
          - 5.76.0
          - 5.65.0
          - 5.59.0
          - 5.54.0
          - 5.52.0
          - 5.44.0
          - 5.36.0
    env:
      UPSTREAM_VERSION: ${{matrix.version}}
      CONAN_USERNAME: dragoonboots
      CONAN_REPO: ECM
      CONAN_CHANNEL: testing
      CONAN_PASSWORD: ${{secrets.CONAN_KEY}}
      CONAN_UPLOAD: https://api.bintray.com/conan/dragoonboots/conan-packages
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install package tools
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install conan_package_tools
      - name: Build Conan package
        run: python build.py
